<h1>Training#index</h1>


<%= search_form_for @search, url: "trainings#index"  do |f| %>
  <%= f.label :date, "日付" %>
  <%= f.search_field :date_eq, :placeholder => "20XX-XX-XX" %>
  
  <%= f.submit "検索" %>
<% end %>



    <ul>
      <% @search_trainings.each do |search_training| %>
        <li><%= search_training.content =%></li>
        <li><%= search_training.time =%></li>
      <% end %>
    </ul>

    




