<hi>カテゴリ一覧</hi>


<ul>
    <% @categories.each do |category| %>
        <li><%= link_to category do %><%= category.name %><% end %></li>
        <li><%= link_to 'EDIT', edit_category_path(category) %></li>
        <li><%= link_to 'DELETE', category, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></li>
    <% end %>
<ul>



<%= link_to '新規カテゴリの投稿', new_category_path %>