<p><%= @category.name %>の詳細</p>

<p><%= @training_day %>の積み上げ</p>

<% @trainings.each do |training| %>
  <ul>
    <li><%= link_to edit_category_training_path(@category, training) do %><i class="fas fa-check-square"></i><% end %></li>
    <li><%= training.content %></li>
    <li><%= training.time %></li>
  </ul>
<% end %>


<%= form_with(model: [@category, @training], local: true) do |f| %>
  <%= f.label :content, '内容' %>
  <%= f.text_field :content %>
  
  <%= f.label :time, '時間' %>
  <%= f.number_field :time %>
  
  <%= hidden_field_tag :date, @training_date %>

  <%= f.submit '新規作成' %>
<% end %>


<p>today_total:<%= @today_total %></p>
<p>all_total:<%= @all_total %></p>
<p>month_total:<%= @month_total %></p>





<p><%= link_to 'NEW TRAINING', new_category_training_path(@category) %></p>
<p><%= link_to edit_category_url do %>EDIT<% end %></p>
<p><%= link_to 'このカテゴリを削除する', @category, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></p>